*
!*/

!/builder/gulpfile.cjsx
!/builder/tasks/**/*.cjsx

!/sources/**/*.cjsx
!/sources/**/*.js

!/tests/**/*.cjsx
!/tests/**/*.js

!/.gitignore
!/.iron-node.js
!/npm-shrinkwrap.json
!/package.json
!/README.md
